@import "~angular-material/angular-material.scss";
@import "../../../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../../../node_modules/timepicker/jquery.timepicker.css";
@import "../../../node_modules/jquery-ui/themes/base/datepicker.css";

@import "common/_all.scss";

.fgpa {
    @import "base/_all.scss";
    @import "layout/_all.scss";
    @import "modules/_all.scss";
    @import "vendor/_all.scss";
}

// Picker is created outside fgpa div, import separatly
@import "vendor/_datepicker.scss";
@include datepicker;