<div class="container">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li ng-class="{ active: self.isSet(1) }">
                    <a href ng-click="self.setTab(1)">{{ 'app.section.map' | translate }}</a>
                </li>
                <li ng-class="{ active: self.isSet(2) }">
                    <a href ng-click="self.setTab(2)">{{ 'app.section.ui' | translate }}</a>
                </li>
                <li ng-class="{ active: self.isSet(3) }">
                    <a href ng-click="self.setTab(3)">{{ 'app.section.service' | translate }}</a>
                </li>
                <li ng-class="{ active: self.isSet(4) }">
                    <a href ng-click="self.setTab(4)">TEST</a>
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <div ng-show="self.isSet(1)">
                <av-map></av-map>
            </div>
            <div ng-show="self.isSet(2)">
                <av-ui></av-ui>
            </div>
            <div ng-show="self.isSet(3)">
                <av-service></av-service>
            </div>
            <div ng-show="self.isSet(4)">
                <av-formtest></av-formtest>
            </div>
        </div>
    </div>
</div>
