<div class="av-header">
    <div class="av-title" layout="row" layout-align="space-between center">
        <h2 class="md-display-2">{{ 'app.title' | translate }}</h2>
        <md-input-container class="md-subhead">
          <label>{{ 'header.language' | translate }}</label>
          <md-select ng-model="self.language" ng-change="self.setLanguage()">
            <md-option ng-repeat="lang in self.languages" ng-value="lang" ng-selected="$index === 0">
              {{ lang }}
            </md-option>
          </md-select>
        </md-input-container>
    </div>
    <div>
        <md-input-container class="md-subhead av-templates" ng-if="self.templates.length">
          <label>{{ 'header.template' | translate }}</label>
          <md-select ng-model="self.template" ng-change="self.setTemplate()" ng-model-options="{ trackBy: '$value.path' }">
            <md-option ng-repeat="temp in self.templates" ng-value="temp" ng-selected="$index === 0">
              {{ temp.file }}
            </md-option>
          </md-select>
        </md-input-container>

        <md-button
            translate
            aria-label="{{ 'header.create' | translate }}"
            class="md-icon-button av-button-32 black"
            ng-click="self.create()">
            <md-tooltip>{{ 'header.create' | translate }}</md-tooltip>
            <md-icon md-svg-src="content:add"></md-icon>
        </md-button>

        <md-button
            flow-init="{ singleFile: true }"
            flow-files-submitted="self.filesSubmitted($files, $event, $flow)"
            class="md-icon-button av-button-32 black"
            aria-label="{{ 'header.open' | translate }}"
            flow-btn
            flow-progress="console.log()"
            flow-attrs="{ accept: '.json' }">
            <md-tooltip>{{ 'header.open' | translate }}</md-tooltip>
            <md-icon md-svg-src="file:file_upload"></md-icon>
        </md-button>

        <md-button
            translate
            aria-label="{{ 'header.save' | translate }}"
            class="md-icon-button av-button-32 black"
            ng-click="self.save()">
            <md-tooltip>{{ 'header.save' | translate }}</md-tooltip>
            <md-icon md-svg-src="content:save"></md-icon>
        </md-button>

        <md-button
            translate
            aria-label="{{ 'header.help' | translate }}"
            class="md-icon-button av-button-32 black"
            ng-click="self.help()">
            <md-tooltip>{{ 'header.help' | translate }}</md-tooltip>
            <md-icon md-svg-src="community:help"></md-icon>
        </md-button>

        <div class="av-savename">
            <label>{{ 'header.filename' | translate }}</label>
            <label>{{ self.saveName }}</label>
        </div>
    </div>
</div>
