<md-dialog aria-label="{{ 'header.savedialog.title' | translate }}" class="av-save-dialog">
    <av-content-panel close-panel="self.close()" title-style="title" title-value="{{ 'header.savedialog.title' | translate }}">
        <p class="av-save-desc">{{ 'header.savedialog.desc' | translate }}</p>
        <md-input-container class="md-block" md-is-error="self.error === true" flex-gt-xs>
            <input id="avInputFileSaveName" class="" type="text" ng-model="self.fileName" av-focus />
            <div class="av-hint">{{ 'header.savedialog.hint' | translate }}</div>
            <div class="av-error">{{ self.error }}</div>
        </md-input-container>
        <md-button
            class="av-button-square md-raised md-primary av-savedialog-save"
            ng-click="self.save()"
            ng-disabled="self.fileName.length === 0 || self.isError === true">
            {{ 'button.save' | translate }}
            <md-tooltip>{{ 'button.save' | translate }}</md-tooltip>
        </md-button>
        <md-button
            class="av-button-square md-raised av-savedialog-cancel"
            ng-click="self.cancel()">
            {{ 'button.cancel' | translate }}
            <md-tooltip>{{ 'button.cancel' | translate }}</md-tooltip>
        </md-button>
    </av-content-panel>
</md-dialog>
