<div>
    <h1>{{ 'app.summary' | translate }}</h1>
    <div class="av-summary-button">
        <md-button
            id = "validate"
            class="av-button-square md-raised av-summary-validate"
            ng-click="self.validateForm()">
            {{ 'button.validate' | translate }}
            <md-tooltip>{{ 'button.validate' | translate }}</md-tooltip>
        </md-button>
        <md-button
            class="av-button-square md-raised"
            ng-disabled="self.disableCollapseExpand"
            ng-click="self.expandTree()">
            {{ 'summary.expand' | translate }}
            <md-tooltip>{{ 'summary.expand' | translate }}</md-tooltip>
        </md-button>
        <md-button
            class="av-button-square md-raised"
            ng-disabled="self.disableCollapseExpand"
            ng-click="self.collapseTree()">
            {{ 'summary.collapse' | translate }}
            <md-tooltip>{{ 'summary.collapse' | translate }}</md-tooltip>
        </md-button>
        <md-button
            class="av-button-square md-raised av-preview-button"
            ng-disabled="!self.previewReady()"
            ng-click="self.openPreview()">
            {{ 'summary.preview' | translate }}
            <md-tooltip>{{ 'summary.preview' | translate }}</md-tooltip>
        </md-button>
    </div>
    <md-divider></md-divider>

    <div ng-repeat="tab in self.tabs" av-compile-html="tab.model"></div>

    <md-divider></md-divider>
    <div class="md-caption av-version">
        <span class="av-version-number">{{ self.versiongit.major }}.{{ self.versiongit.minor }}.{{ self.versiongit.patch }}
            <span class="av-version-hash">[{{ self.versiongit.hash }}]</span></span>
        <span class="av-version-timestamp">{{ self.versiongit.timestamp }}</span>
        <div class="av-version-github">
            <a href="https://github.com/fgpv-vpgf/fgpa-apgf" class="rv-icon-24" target="_blank">
                <md-icon md-svg-src="community:github"></md-icon>fgpv-vpgf/fgpa-apgf</a>
        </div>
    </div>
</div>
