%container {
    md-input-container {
        input {
            font-size: 1.2em;
            text-overflow: ellipsis;
        }

        .av-hint {
            position: relative;
            left: rem(0.2);
            right: auto;
            top: rem(0.3);
            /* Copy styles from ng-messages */
            font-size: 12px;
            line-height: 14px;
            color: $secondary-text-color;
            float: right;
        }
    }

    .av-error {
        color: $alert-color;
    }

    button {
        float: right;
    }
}

@mixin dialog {
    .av-hide {
        visibility: hidden !important;
        opacity: 0 !important;
    }

    .av-hide-animate {
        opacity: 1;
        transition: opacity $swift-ease-in-duration $swift-ease-in-out-timing-function;
    }

    .av-scrollbar-measure {
        width: rem(10);
        height: rem(10);
        overflow: scroll;
        position: absolute;
        top: - rem(999);
    }

    .av-save-dialog {
        height: 240px;
        width: 600px;
        border-radius: 0;

        @extend %container;
    }

    .av-agol-dialog {
        height: 380px;
        width: 600px;
        border-radius: 0;

        @extend %container;
    }

    .av-agolimport-dialog {
        height: 80%;
        width: 80%;
        border-radius: 0;

        @extend %container;
    }

    .av-error-dialog {
        height: 190px;
        width: 800px;
        border-radius: 0;

        @extend %container;
    }

    .av-lods-dialog {
        height: 240px;
        width: 800px;
        border-radius: 0;

        @extend %container;
    }

    .av-preview-dialog {
        height: 80%;
        width: 80%;
        border-radius: 0;

        @extend %container;
    }

    .av-help-dialog {
        height: 80%;
        width: 80%;
        border-radius: 0;

        @extend %container;
    }

    .av-extent-dialog {
        height: 80%;
        width: 80%;
        border-radius: 0;

        @extend %container;
    }
}
