@mixin forms {
    .av-main-tab {
        margin: 0 10px 0 10px;
    }

    .av-main-form {
        padding: 0 5px 0 5px;
    }

    .av-section-label {
        padding-top: 20px;
    }

    .av-check-center {
        span {
            text-align: left;
        }
    }

    .av-accordion-toggle > legend {
        padding-left: 30px;
    }

    .av-accordion-icon {
        top: -28px;
        position: relative;
        cursor: pointer;
    }

    .av-state-highlight {
        background-color: $drag-color;
        height: 10em;
        margin: 0.5em 1em 0.5em 1em;
        list-style-type: none;
    }

    .av-drag-handle {
        cursor: move;
        display: inline-block !important;
    }

    .av-drag-handle > md-icon {
        display: inline-block !important;
    }

    .av-expcol-all {
        float: right;
    }

    .av-legend-text > textarea {
        height: 650px;
        white-space: nowrap;
        overflow: auto;
    }

    .av-legend-snippet {
        > div:not(:first-child) {
            padding-left: 20px;
        }
    }

    .av-legend-json {
        margin: 20px;
        font-weight: 500;
    }

    .av-legend-json-error {
        color: $alert-color;
    }

    .av-legend-json-valid {
        color: $good-color;
    }

    .av-legend-link {
        text-decoration: underline;
        color: $primary-color;
    }

    .av-lods-error {
        color: $alert-color;
    }

    .av-accordion-custom {
        div {
            border-bottom: 1px solid $divider-color;
            border-left: 1px solid $divider-color;
            border-right: 1px solid $divider-color;
            padding: 10px;
            margin-bottom: 30px;
        }

        legend {
            color: $secondary-text-color;
            font-style: italic;
        }
    }

    .av-legend-link {
        margin-bottom: 20px;
    }

    #activeForm-legend-root {
        white-space: pre-wrap; // for FF and Safari to format JSON properly
    }

    .av-legend-cursorpos {
        float: right;
    }

    .av-version-dev-hide {
        display: none;
    }

    .av-version-dev {
        border-left: 2px $accent-color solid;
        padding-left: 10px;
    }

    .av-fields-buttons {
        display: flex;
        & div {
            margin-right: 15px;
        }
    }

    .av-range-date-container {
        display: flex;

        .av-range-date-holder {
            margin: 15px;
        }
    }
}
