@mixin forms {
    .av-main-tab {
        margin: 0 10px 0 10px;
    }

    .av-main-form {
        padding: 0 5px 0 5px;
    }

    .av-section-label {
        padding-top: 20px;
    }

    .av-check-center {
        span {
            text-align: left;
        }
    }

    .av-accordion-toggle > legend {
        padding-left: 30px;
    }

    .av-accordion-icon {
        top: -28px;
        position: relative;
        cursor: pointer;
    }

    .av-state-highlight {
        background-color: $drag-color;
        height: 10em;
        margin: 0.5em 1em 0.5em 1em;
        list-style-type: none;
    }

    .av-drag-handle {
        cursor: move;
    }

    .av-expcol-all {
        float: right;
    }
}
