@mixin header {
    .av-header {
        padding-left: 20px;
        padding-right: 20px;

        .av-templates {
            width: 250px;
        }

        .av-savename {
            display: inline-block;
            margin-left: 50px;
        }

        .av-languages {
            width: 120px;
        }
    }
}
