.av-summary {
    width: 20%;
    border: 1px solid black;

    ul {
        list-style-type: none;
    }
}

.av-summary-icon {
        max: {
            height: 20px;
            width: 20px;
        }
}

.av-summary-item {
    display: flex;
}
