@mixin summary {
    .av-summary {
        border: 1px solid black;
        padding: 0 15px 0 15px;
        margin: 0 15px 0 15px;

        ul {
            list-style-type: none;
        }
    }

    .av-summary-icon {
            max: {
                height: 20px;
                width: 20px;
            }
    }

    .av-summary-item {
        display: flex;
    }

    .av-summary-adv {
        font-style: italic;
    }

    .av-summary-advlight {
        font-style: italic;
        opacity: 0.5;
    }

    .av-summary-list  {
        color: $focus-color;
    }

    .av-summary-bad  {
        color: $alert-color;
    }

    .av-version {
        text-align: center;
        margin: rem(3.6) rem(1.2) rem(1.2) rem(1.2);

        &-number {
            font-weight: bold;
            display: block;
        }

        &-hash {
            margin-left: rem(0.3);
            font-weight: normal;
            font-size: smaller;
        }

        &-timestamp {
            font-size: smaller;
        }

        &-github {
            display: flex;
            justify-content: center;
            margin-top: rem(0.5);

            > a {
                display: flex;
                align-items: center;

                md-icon {
                    margin-right: rem(0.4);
                }
            }
        }
    }
}
